body {
    font-size: 12px;
}

.hx4 {
    font-size: 18px;
}
.hx1 {
    font-size: 40px;
}

#tz {
    padding-left:35px;
}

#tz.loader {
    background: url(../images/ajax-loader.gif) no-repeat 0px 15px;
}

.title {
    color: #FFF;
    padding: 15px  !important;
    margin-bottom: 15px;
    background-color: #4682B4;
    font-size: 28px;
    font-weight: bold;
    font-family: Times New Roman, Georgia, sans-serif;
}

@media (max-width: 768px) {
    .text-left-xs { text-align: left; }
    .text-right-xs { text-align: right; }
    .col-btn-xs {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bottom-xs {
        padding-bottom: 7px;
    }

    .h1, .h3, .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 768px) {
    .text-left-sm { text-align: left !important; }
    .text-right-sm { text-align: right !important; }
    .col-sm-1:last-child { padding-left: 0px; }

    div.row form > div {
        padding-bottom: 2px;
        line-height: 32px;
        vertical-align: middle;
    }

    .hgt-sm-1, .hx4 {
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
    }
    div.vgt div {
        line-height: 40px;
        vertical-align: middle;
        display: table-cell;
        padding-top: 10px;
    }

}

@media (min-width: 992px) {
    .text-left-md { text-align: left; }
    .text-right-md { text-align: right; }
    .col-sm-2:last-child { padding-left: 0px; }

    div.row > div {
        line-height: 32px;
        vertical-align: middle;
    }

    div.vgt div {
        line-height: 40px;
        vertical-align: middle;
        display: table-cell;
        padding-top: 10px;
    }
}


