<!DOCTYPE html>
<html ng-app="wclockApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Clock Test</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="js/app.js" type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
<div class="container" ng-controller="timeCtrl">
    <div class="row text-right-xs">
        <div class="col-md-12 col-sm-12 title text-center">
            World Clock Test
        </div>
        <div class="col-md-2 col-sm-2 text-nowrap text-justify">
            Set Toronto Time:
        </div>
        <div class="col-md-2 col-sm-5">
            <input class="form-control" ng-model="timeToronto" ng-focus="stopInterval()" name="timeToronto" type="text" maxlength="8" ng-pattern="timeRegex" placeholder="hh:mm:ss">
        </div>
        <div class="col-md-2 col-sm-5 col-btn-xs">
            <button type="button" class="btn form-control btn-primary" ng-click="setUserTime()" ng-disabled="!(!!timeToronto)">Submit</button>
        </div>
    </div>
    <div class="row vgt text-right-xs">
                <div class="col-md-1 col-sm-2 hx4">Toronto:</div>
                <div class="col-md-5 col-sm-10 hx1" id="tz" ng-class="{'loader': interval}">{{(timeTorontoOut | date: 'HH:mm:ss') || '--:--:--'}}</div>
                    <div class="clearfix visible-xs-block col-btn-xs"></div>
                <div class="col-md-2 col-sm-1 text-right-sm text-right-md hgt-sm-1">London:</div>
                <div class="col-md-1 col-sm-2 text-left-sm text-left-md hgt-sm-1 hx4">{{(timeLondonOut | date: 'HH:mm:ss') || '--:--:--'}}</div>
                    <div class="clearfix visible-xs-block bottom-xs"></div>
                <div class="col-md-2 col-sm-7 text-right-sm text-right-md hgt-sm-1">Sydney:</div>
                <div class="col-md-1 col-sm-2 text-right-sm text-right-md hgt-sm-1 hx4">{{(timeSydneyOut | date: 'HH:mm:ss') || '--:--:--'}}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12 col-sm-12 h4">Settings</div>
    </div>
    <div class="row">
        <form name="diff">
            <div class="col-md-2 col-sm-6 text-nowrap">
                Time difference for London:
            </div>
            <div class="col-md-2 col-sm-2">
                <input class="form-control" type="number" min="-23" max="23" ng-model="diffLondon" name="diffLondon" placeholder="hh" required>
            </div>
            <div class="col-md-2 col-sm-4 col-btn-xs">
                <button type="button" class="btn form-control btn-primary" ng-disabled="!diff.diffLondon.$valid || !interval" ng-click="setDiffLondon()">Submit</button>
            </div>
            <div class="col-md-2 col-sm-6 text-nowrap">
                Time difference for Sydney:
            </div>
            <div class="col-md-2 col-sm-2">
                <input class="form-control" type="number" min="-23" max="23" ng-model="diffSydney" name="diffSydney" placeholder="hh" required>
            </div>
            <div class="col-md-2 col-sm-4 col-btn-xs">
                <button type="button" class="btn form-control btn-primary" ng-disabled="!diff.diffSydney.$valid || !interval" ng-click="setDiffSydney()">Submit</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>